#form
{
    width: 30%;
    background-color: lightgrey;
    padding: 10px;
}

.entrada
{
    width: 100%;
    border: 1px solid blue;
    border-radius: 4px;
    margin: 2px;
}

table
{
    border: 1px solid black;
    width: 50%;
}